.footer {
  background-color: #1b252f;
  padding: 5rem;
  margin-top: 5rem;
}

.copyright {
  display: inline;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

.icon {
  margin: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.icon:hover {
  color: #11c2c9;
}
