.polygon {
  width: 8rem;
  height: 7rem;
  background-color: #11c2c9;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon {
  color: white;
  font-size: 4rem;
  transform: rotate(-30deg);
}

.title {
  color: #454545;
  font-weight: 700;
  font-size: 1.5rem;
}
